# Copie ce fichier en .env.local et remplis avec tes clés Supabase
# (Project Settings > API dans ton tableau de bord Supabase)

NEXT_PUBLIC_SUPABASE_URLhttps://swsniasgguqypgfwfpax.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3c25pYXNnZ3VxeXBnZndmcGF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NzAyODMsImV4cCI6MjEwNDQ0NjI4M30.m5mgENLcb15DjdgjtuCipCplOjY9zVnQJXgAqWOk8Ls
